//page
$page-background-color: #fff;
$page-text-color: #000;
$page-main-color: #D8132F;
$page-second-color: #d1d1d1;
$page-thrid-color: #8d8b8b;

//add
$elements: #e2e6e9;
$primary: #313237;

//menu
$menu-background-color:#000;
$menu-text-color: #fff;

// Adapt the page
$desktop-min-width: 1280px;
$table-min-width: 768px;

