@import "./utils/styles/utils.scss";

body {
  margin: 0;
}

.container {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
}

.page {
  scroll-behavior: smooth;
  font-family: Arial ;
  background-color: $page-background-color;
  color: $page-text-color;
}